/*
.protolangEditorItemNav {
  composes: editorNav from "./editor_common.module.css";
}

.deleteLink {
  composes: deleteLink from "./editor_common.module.css";
}
*/

/* Workaround for https://github.com/parcel-bundler/parcel/issues/9058: dont be DRY ig */

.protolangEditorItemNav {
  & .deleteLink {
    color: red;
    cursor: pointer;
  }
}
